<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="UTF-8">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Butcherman" rel="stylesheet">
    
    <title>Eat-Da-Burger</title>
    
</head>

<body>

    {{{ body }}}

<script type="text/javascript" src="../../public/assets/js/burgers.js"></script>
</body>

</html>