<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Eat-Da-Burger</title>
    <link src="../../public/assets/css/burger_style.css">
</head>
<body>
    <div class="burger-image">
        <img src="../../public/assets/img/hamburger.png">
    </div>
    <div class="content">
        {{{ content }}}
    </div>
</body>
</html>