<li>
	{{burger_name}}
  
	{{#unless devoured}}
		<input class="custInput" input type="text" placeholder="Customer?"><br>
		<button class="devour-burger ml-3" data-id="{{this.id}}">DEVOUR!</button>
	{{/unless}}

</li>
